.cache
.idea
.coverage*
htmlcov
.settings
dist
.eggs/
eggs/
*.egg-info/
test-reports/*
*pyc
.eggs/
.pytest_cache/
allensdk.egg-info/
.vscode/
debug.log
*~
*#*#
**.ipynb_checkpoints**
.vscode/
.mypy_cache/
